body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Logo,
.title {
    display: inline-block;
}
.Logo {
    background: rgb(46, 4, 144);
    position: fixed;
    width: 22%;
    height: 100%;
    padding: auto;
    color: aliceblue;
    border-radius: 15px 0 0 15px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.logo-img {
    width: 20px;
    height: 20px;
    border-radius: 18px;
}
.bck {
    text-decoration: none;
    list-style-type: none;
    color: yellow;
}
.proof ul li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.proof ul li span {
    cursor: pointer;
}
.user-profile {
    padding: 20px 0 20px 0;
    text-align: center;
}
.user-profile img {
    width: 30%;
    height: 40%;
    border-radius: 50%;
}
.Header {
    background-color: aliceblue;
    margin-left: 22%;
    padding: 6px 0 6px 30px;
    width: 76%;
}
.Header-top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Header-link img {
    width: 30px;
    height: 25px;
    border: none;
    border-radius: 10px;
    list-style-type: none;
    background-color: aliceblue;
}
.title {
    margin-left: 30%;
    width: 70%;
    overflow: hidden;
}
.title-link {
    color: black;
    text-decoration: none;
}
.title-link:hover {
    color: rgb(101, 17, 210);
}
.container {
    border: 2px solid black;
    margin: 6px;
    border-radius: 15px;
    padding: 10px 100px;
}
.title1,
.title2 {
    display: inline-block;
}
.con {
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 68% 100% 30px 10%;
    text-align: center;
}
.con-input {
    border: 1px solid rgb(105, 166, 237);
    border-radius: 3px;
}
.details {
    margin-left: 23%;
    height: 100%;
    margin-right: 30px;
    padding: 20px 0 50px 0;
    border: 2px solid black;
}
.form-input {
    border-radius: 3px;
    margin: 10px;
    padding: 4px 30px;
    border: 1px solid rgb(105, 166, 237);
}
.title-com,
.signer,
.order,
.location {
    margin: 10px;
    border-bottom: 2px solid black;
    padding-left: 40px;
    padding-bottom: 10px;
}
.details label {
    padding: 20px;
    box-sizing: border-box;
}
.details-location {
    margin-bottom: 60px;
}
.appointment {
    cursor: pointer;
    padding: 20px 100px;
    margin: auto;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(105, 166, 237);
    border-width: 0;
    color: rgb(7, 7, 166);
    display: flex;
}
.appointment:hover {
    background-color: rgb(7, 7, 166);
    color: aliceblue;
}
.name-details,
.company-details,
.loan-order,
.location-details {
    padding: 10px;
}
.dash {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Image/front-view-arrangement-economy-elements.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/* Register form */
.register {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Image/inc.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.register-form input {
    display: flex;
    margin-top: 10px;
    padding: 6px 20%;
    border: none;
    outline: none;
    border-radius: 7px;
    border-bottom: 4px solid rgb(60, 7, 221);
}
.register-form div {
    padding: 10px;
}
.register-form label {
    color: white;
}
.pass-para {
    color: white;
    margin-left: 40%;
    font-size: 15px;
    cursor: pointer;
}
.btn {
    margin: 10px;
    padding: 15px 112px;
    border: none;
    border-radius: 10px;
    background-color: rgb(12, 19, 200);
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: rgb(12, 19, 200);
}

/* Dashboard */
.dash-nav {
    justify-content: space-between;
    color: white;
    max-width: 1280px;
    margin: auto;
}
.list-nav li,
.list-nav li Link {
    text-decoration: none;
    list-style-type: none;
}
